* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
div.first {
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    background-color: lightgoldenrodyellow;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
div.second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 400px;
}
label {
    padding: 20px;
}
.bt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bt button {
    width: 100px;
    height: 40px;
    
}
input {
    width: 500px;
    height: 40px;
}